---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = Omit<HTMLAttributes<"h2">, "id"> & {
	/**
	 * The content to be rendered inside the dialog title
	 */
	// eslint-disable-next-line @typescript-eslint/no-explicit-any
	children: any;
};

const dialogTitle = tv({ base: "text-2xl leading-none font-semibold tracking-tight" });

const { class: className, ...rest } = Astro.props;
---

<h2 class={dialogTitle({ class: className })} {...rest}>
	<slot />
</h2>
