@import 'tailwindcss';
@plugin 'daisyui' {
    /* Fix for modal bug shifting layout */
    exclude: rootscrollgutter;
}

@layer base {
    html,
    body {
        @apply m-0;
    }
    
    body {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto Mono', monospace;
        min-height: 100vh;
    }
    
    main {
        /*  Opacity: 0 - GSAP  */
        @apply opacity-0 flex-1 mx-auto relative max-w-2xl lg:max-w-4xl;
        
        @media (min-width: 1024px) {
            padding-left: 100px; /*  Header's width  */
        }
    }
    
    .homepage {
        @apply mt-10 p-10;
    }
    
    .page {
        @apply mt-20 p-10 lg:max-w-2xl;
    }
}

@layer components {
    h1 {
        @apply text-4xl md:text-6xl my-8;
    }
    
    h2 {
        @apply text-xl md:text-3xl my-6 text-pink-400 tracking-widest uppercase;
    }
    
    h3 {
        @apply text-xl md:text-2xl my-10;
    }
}


/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}