@import 'tailwindcss';
@plugin 'daisyui' {
    /* Fix for modal bug shifting layout */
    exclude: rootscrollgutter;
}

@layer base {
    html,
    body {
        @apply m-0;
    }
    
    body {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto Mono', monospace;
        min-height: 100vh;
    }
    
    main {
        @apply flex-1 mx-auto relative max-w-2xl lg:max-w-4xl;
        
        @media (min-width: 1024px) {
            padding-left: 100px; /*  Header's width  */
        }
    }
    
    .page {
        @apply mt-6 p-10 lg:max-w-2xl;
    }
}

@layer components {
    h1 {
        @apply text-4xl md:text-6xl my-8;
    }
    
    h2 {
        @apply text-xl md:text-3xl my-6 text-pink-400 tracking-widest uppercase;
    }
    
    h3 {
        @apply text-xl md:text-2xl my-10;
    }
    
    h3 {
        text-shadow: 0 0.5rem 2rem, 0 -0.5rem 1rem rgba(80, 76, 76, 0.75);
    }
    
    .underline-container {
        position: relative;
    }
    
    .underline-1,
    .underline-2 {
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-pink-400);
        border-radius: 12px;
    }
    
    .underline-2 {
        left: -5px;
        bottom: -12px;
        background-color: var(--color-emerald-500);
    }
}

@layer utilities {
    .modal {
        &.modal-open, &[open], &:target {
            & .modal-box {
                translate: 0 -25px;
            }
        }
    }
}


/* Desktop */
@media (min-width: 1024px) {}

/* Mobile */
@media (max-width: 1023px) {}