

.underline-frontend {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-active);
    /*background-color: var(--color-accent);*/
    border-radius: 12px;
}

.double-underline-container {
    position: relative;
}

.underline-first-line,
.underline-second-line {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-pink-400);
    border-radius: 12px;
}

.underline-second-line {
    background-color: var(--color-emerald-500);
    bottom: -12px;
    left: -5px;
}