---
import Layout from '../layouts/Layout404.astro';
import { Button } from '@/components/starwind/button';

---

<Layout
    title='404 - Page not found'
    description='Page not found'
>
    <section class='mb-32 not-found lg:p-10 text-center'>
        <div class='logo'></div>

        <p class='text-xl md:text-2xl lg:text-3xl font-semibold'>Sorry, we couldn't find this page.</p>

        <p class='mt-4 mb-16 text-base lg:text-lg text-muted dark:text-slate-400'>
            But don't worry, you can start over from the Homepage.
        </p>

        <Button
            id='button'
            href='/'
            rel='noopener noreferrer'
            aria-label='homepage'
        >
            Back to homepage
        </Button>
    </section>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        background-image: url('/src/icons/404.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
        width: 800px;

        /* Tablet */
        @media (max-width: 1000px) {
            height: 500px;
            width: 650px;
        }


        /* Mobile */
        @media (max-width: 600px) {
            width: 100%;
        }
    }
</style>

<script>
   import { gsap } from 'gsap';

   const notFound = document.querySelector('.not-found');

   const timeline = gsap.timeline({
      defaults: {
         duration: 1,
         ease: 'power3.inOut'
      }
   });

   timeline
      .to(notFound, {
         opacity: 1
      })
</script>