---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title='404'
    description='Page not found'
>
    <section class='page'>
        <h3>
            <span>Oops... Page </span>
            <span class='underline-container'>
                not found
                <span class='underline-1'></span>
                <span class='underline-2'></span>
            </span>
        </h3>
    </section>
</Layout>