---
import Layout from '../layouts/Layout.astro';
---

<Layout
   title='Projects'
   description='Projects I worked on'
>
    <section class='projects'>
        <h1>This is Projects page</h1>
    </section>
</Layout>