---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title='Tech stack'
    description='My tech stack and skills'
>
    <section class='stack'>
        <h1>This is Stack page</h1>
    </section>
</Layout>
