---
import data from '../assets/data/tech.json';
import Layout from '../layouts/Layout.astro';
import TechItem from '../components/TechItem.astro';
---

<Layout
    title='Tech stack'
    description='My tech stack and skills'
>
    <section class='tech page'>
        <h1 class='title mb-16'>My tech stack and the tools I use</h1>

        <div class='flex justify-center flex-wrap'>
           {
              data?.tech?.map(item => (
                  <TechItem
                      name={item.name}
                      icon={item.icon}
                      description={item.description}
                      url={item.url}
                  />
              ))
           }
        </div>
    </section>
</Layout>

<style>
    .tech {
        border: 1px solid var(--color-pink-400);
        padding: 40px;
    }
</style>