---
import { Image } from 'astro:assets';
---

<div class="hero">
    <Image
        src="https://images.unsplash.com/photo-1742943892627-f7e4ddf91224?q=80&w=3269&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Placeholder image"
        width="900"
        height="900"
        class='my-20 m-auto'
    />
</div>
