---
import { Avatar, AvatarImage, AvatarFallback } from '@/components/starwind/avatar';
import ProfilePicture from '@/assets/images/profile-picture.jpg';
---

<section class='sidebar-layout homepage'>
    <div class='card mt-20 lg:card-side'>
        <Avatar size='custom'>
            <AvatarImage
                image={ProfilePicture}
                alt='Zoran G. Verona'
            />
            <AvatarFallback>ZGV</AvatarFallback>
        </Avatar>

        <div class='card-body p-10 gap-4'>
            <h2 class='text-pink-400 self-start'>Frontend Developer</h2>

            <h1>Hello, I'm
                <span class='name mt-24 mb-8 divider divider-accent text-6xl xl:text-8xl'>Zoran G. Verona</span>
            </h1>

            <h5 class='developer-info'>
                Based in Croatia, Europe, with 4+ years of web development experience.<span class='lg:block'>
            I am a frontend web developer who enjoys building websites and web applications that are both fun and functional.</span>
            </h5>
        </div>
    </div>
</section>

<style>
    .homepage {
        figure {
            border-radius: 50%;

            img {
                /* Desktop */
                @media (min-width: 1024px) {}

                /* Mobile */
                @media (max-width: 1023px) {}
            }
        }

        .card {
            span.name {
                letter-spacing: 0.2rem;
                word-spacing: 0.3rem;
            }
        }
    }

    .divider {
        --myScale: 0;

        &::before, &::after {
            transform: scale(var(--myScale));
        }
    }
</style>

<script>
   import { gsap } from 'gsap';

   const description = document.querySelector('.developer-info');
   const divider = document.querySelector('.divider');

   const timeline = gsap.timeline({
      defaults: {
         duration: 1,
         ease: 'power3.inOut'
      }
   });

   timeline
      .fromTo('h2', {
         x: 0, y: '-100vh',
      }, {
         x: 0, y: 0,
         duration: 2,
         ease: 'power4.inOut'
      })
      .fromTo('h1', {
         opacity: 0,
         x: '100vw', y: 0,
      }, {
         duration: 2,
         x: 0, y: 0,
         opacity: 1,
      })
      .fromTo(description, {
         opacity: 0,
         x: 0, y: '100vh',
      }, {
         duration: 2,
         x: 0, y: 0,
         opacity: 1,
      })
      .to(divider, {
         '--myScale': 1,
         ease: 'bounce.out',
         duration: 3,
      })
</script>