---
import { Image } from 'astro:assets';
import ProfilePicture from '../assets/images/profile-picture.jpg';
import Socials from '@/components/Socials.astro';
---

<section class='homepage sidebar-layout max-w-sm md:max-w-3xl xl:max-w-7xl self-center mb-36'>
    <div class='card md:h-full xl:card-side'>
        <div class='avatar xl:flex xl:items-center xl:mb-12'>
            <div class='w-72 h-72 rounded mx-auto'>
                <Image src={ProfilePicture} alt='Profile' />
            </div>
        </div>

        <div class='card-body flex gap-y-16 xl:gap-y-20 mt-10 xl:mt-0'>
            <h2 class='job-title lg:divider lg:divider-secondary text-secondary'>Frontend Developer</h2>

            <div class='content flex flex-col gap-y-12'>
                <h1>Hello, I am Zoran G. Verona!</h1>

                <h5>
                    Based in Croatia, Europe, with 4+ years of web development experience.
                    <span class='inline-block'>
                        I am a frontend web developer who enjoys building websites and web applications that are both fun and functional.
                    </span>
                </h5>
            </div>

            <Socials />
        </div>
    </div>
</section>

<style>
    .homepage {
        overflow: hidden;
    }

    .divider {
        --myScale: 0;
        display: inline-flex;
        margin: 0;
        //white-space: initial;

        &::before, &::after {
            height: 2px;
            margin: 0 20px;
            transform: scale(var(--myScale));
        }
    }

    /* Mobile */
    @media (max-width: 640px) {
        .card-body {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>

<script>
   import { gsap } from 'gsap';

   const jobTitle = document.querySelector('.job-title');
   const content = document.querySelector('.content');
   const socials = document.querySelectorAll('.social-item');
   const divider = document.querySelectorAll('.divider');

   const timeline = gsap.timeline({
      defaults: {
         ease: 'power3.inOut'
      }
   });

/*   .fromTo(socials, {
      opacity: 0,
   }, {
      duration: 2,
      ease: 'sine',
      opacity: 1,
      stagger: 0.33,
   })*/

   timeline
      .fromTo(content, {
         opacity: 0,
      }, {
         delay: 1,
         ease: 'sine',
         opacity: 1,
      })
      .fromTo(jobTitle, {
         x: 0, y: '-50vh',
      }, {
         duration: 1,
         x: 0, y: 0,
      })
      .to(divider, {
         '--myScale': 1,
         ease: 'bounce',
         duration: 4,
      })
</script>