---
import { Avatar, AvatarImage, AvatarFallback } from '@/components/starwind/avatar';
import ProfilePicture from '@/assets/images/profile-picture.jpg';
---

<section class='homepage text-center'>
    <Avatar class='border-pink-400'>
        <AvatarImage
            image={ProfilePicture}
            alt='John Doe'
        />
        <AvatarFallback>ZGV</AvatarFallback>
    </Avatar>

    <h1>Zoran G. Verona</h1>
    <h2>Frontend Developer</h2>

    <p
        class='subtitle mb-10'
        set:html='Based in Croatia, Europe, with 3+ years of development experience. I am a frontend web developer who enjoys building websites and web applications that are both fun and functional.'
    />

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum totam voluptate aperiam consequuntur saepe, asperiores perferendis, fuga assumenda, nulla ducimus cupiditate reprehenderit unde doloremque aliquam. Eum quo quia eius hic.
</section>

<style>
    figure {
        margin: 0 auto;
        height: 300px;
        width: 300px;
    }
</style>
