---
import { Avatar, AvatarImage, AvatarFallback } from '@/components/starwind/avatar';
import ProfilePicture from '@/assets/images/profile-picture.jpg';
---

<section class='homepage'>
    <Avatar class='border-pink-400'>
        <AvatarImage
            image={ProfilePicture}
            alt='John Doe'
        />
        <AvatarFallback>ZGV</AvatarFallback>
    </Avatar>

    <h1>Zoran G. Verona</h1>
    <h2>Frontend Developer</h2>

    <p
        class='subtitle mb-10'
        set:html='Based in Croatia, Europe, with 3+ years of development experience. I am a frontend web developer who enjoys building websites and web applications that are both fun and functional.'
    />

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum totam voluptate aperiam consequuntur saepe, asperiores perferendis, fuga assumenda, nulla ducimus cupiditate reprehenderit unde doloremque aliquam. Eum quo quia eius hic.
    Consectetur ullam consequatur sint et velit similique. Reprehenderit illo rerum minus commodi tempore officiis, quis ipsa ullam impedit in ratione, tenetur nobis. Vero, ipsa voluptatem at animi molestiae et magnam?
    Fugiat, animi explicabo esse aliquid officia dolore ad voluptatibus facilis soluta porro voluptatem, vel, quod ullam. Tempora, quibusdam temporibus, rerum modi, earum illum quisquam fugiat facere provident nisi harum pariatur!
</section>

<style>
    figure {
        margin: 0 auto;
        height: 300px;
        width: 300px;
    }
</style>
