---
import { Avatar, AvatarImage, AvatarFallback } from '@/components/starwind/avatar';
import ProfilePicture from '@/assets/images/profile-picture.jpg';
---

<section class='homepage text-center'>
    <Avatar class='!my-4'>
        <AvatarImage
            image={ProfilePicture}
            alt='Zoran G. Verona'
        />
        <AvatarFallback>ZGV</AvatarFallback>
    </Avatar>

    <h2 class='my-4 lg:my-10'>Zoran G. Verona</h2>

    <h1 class='text-pink-400'>
        Frontend Developer
        <span class='underline'></span>
    </h1>

    <h4 class='developer-info'>
        Based in Croatia, Europe, with 4+ years of web development experience.
        <span class='lg:block'>
            I am a frontend web developer who enjoys building websites and web applications that are both fun and functional.
        </span>
    </h4>
</section>

<style>
    .homepage {
        position: relative;

        figure {
            margin: 0 auto;

            /* Desktop */
            @media (min-width: 1024px) {
                height: 300px;
                width: 300px;
            }

            /* Mobile */
            @media (max-width: 1023px) {
                height: 200px;
                width: 200px;
            }
        }

        h1 {
            position: relative;
            display: inline-block;
            text-shadow: 0 0.5rem 2rem, 0 -0.5rem 1rem rgba(80, 76, 76, 0.75);
        }

        .underline {
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--color-emerald-400);
            border-radius: 12px;
        }
    }
</style>

<script>
   import { gsap } from 'gsap';

   const homepage = document.querySelector('.homepage');
   const underline = document.querySelector('.underline');
   const description = document.querySelector('.developer-info');
   const timeline = gsap.timeline({
      defaults: {
         duration: 1,
         ease: 'power3.inOut'
      }
   });

   timeline
      .to(homepage, {
         opacity: 1
      })
      .fromTo(['h2', 'h1', description], {
         opacity: 0,
      }, {
         opacity: 1,
         stagger: 1,
      })
      .fromTo('h1', {
         transform: 'scale(1.35)'
      }, {
         duration: 2,
         transform: 'scale(1)',
      })
      .to(underline, {
         duration: 1,
         ease: 'sine',
         width: '100%',
      })
</script>