---
import { Image } from 'astro:assets';
import ProfilePicture from '../assets/images/profile-picture.jpg';
import Socials from '@/components/Socials.astro';
---

<section class='homepage sidebar-layout max-w-sm md:max-w-6xl xl:max-w-7xl self-center mb-24'>
    <div class='card xl:card-side'>
        <!-- Avatar -->
        <div class='avatar my-8'>
            <div class='w-72 h-72 rounded mx-auto'>
                <Image src={ProfilePicture} alt='Profile' />
            </div>
        </div>

        <!-- Content -->
        <div class='card-body flex flex-col gap-12 md:gap-20'>
            <h2 class='job-title '>Frontend Developer</h2>

            <h1 class='italic divider divider-secondary'> Zoran G. Verona</h1>

            <h5>
                Based in Croatia, Europe, with 4+ years of web development experience.
                <span class='inline-block'>
                        I am a frontend web developer who enjoys building websites and web applications that are both fun and functional.
                    </span>
            </h5>

            <Socials />
        </div>
    </div>
</section>

<style>
    .homepage {
        overflow: hidden;
    }

    .divider {
        --myScale: 0;
        display: inline-flex;
        margin: 0;

        &::before, &::after {
            height: 2px;
            transform: scale(var(--myScale));
        }

        /* Divider width */
        &:not(:empty) {
            gap: 3rem;

            @media (max-width: 640px) {
                //white-space: initial;
                gap: 1rem;
            }
        }
    }
</style>

<script>
   import { gsap } from 'gsap';

   const jobTitle = document.querySelector('.job-title');
   const socials = document.querySelectorAll('.social-item');
   const divider = document.querySelectorAll('.divider');

   const timeline = gsap.timeline({
      defaults: {
         ease: 'circ.inOut'
      }
   });

   timeline
      .fromTo(jobTitle, {
         x: 0, y: '-75vh',
      }, {
         delay: 1,
         duration: 2,
         x: 0, y: 0,
      })
      .fromTo(socials, {
         opacity: 0,
      }, {
         duration: 3,
         opacity: 1,
         stagger: 0.5,
      })
      .to(divider, {
         '--myScale': 1,
         ease: 'bounce',
         duration: 4,
      })
</script>