---
import { Avatar, AvatarImage, AvatarFallback } from '@/components/starwind/avatar';
import ProfilePicture from '../assets/images/profile-picture.jpg';
import Socials from '@/components/Socials.astro';
---

<section class='homepage sidebar-layout max-w-7xl'>
    <div class='card md:h-full xl:card-side'>
        <Avatar size='custom'>
            <AvatarImage
                image={ProfilePicture}
                alt='Zoran G. Verona'
            />
            <AvatarFallback>ZGV</AvatarFallback>
        </Avatar>

        <div class='card-body flex gap-16 lg:gap-20'>
            <h2 class='job-title divider divider-secondary mt-10 xl:mt-0 text-secondary'>Frontend Developer</h2>

            <div class='name-description flex flex-col gap-12'>
                <h1>Hello, I am Zoran G. Verona!</h1>

                <h5>
                    Based in Croatia, Europe, with 4+ years of web development experience.
                    <span class='block'>
                    I am a frontend web developer who enjoys building websites and web applications that are both fun and functional.
                </span>
                </h5>
            </div>

            <Socials />
        </div>
    </div>
</section>

<style>
    .homepage {
        overflow: hidden;

        figure {
            border-radius: 12px;

            /* Mobile */
            @media (max-width: 1023px) {
                margin: 0 auto;
            }
        }
    }

    .divider {
        --myScale: 0;

        &::before, &::after {
            height: 1px;
            margin: 0 20px;
            transform: scale(var(--myScale));
        }
    }
</style>

<script>
   import { gsap } from 'gsap';

   const jobTitle = document.querySelector('.job-title');
   const nameDescription = document.querySelector('.name-description');
   const socialItem = document.querySelectorAll('.social-item');
   const divider = document.querySelectorAll('.divider');

   const timeline = gsap.timeline({
      defaults: {
         duration: 2,
         ease: 'power3.inOut'
      }
   });

   timeline
      .fromTo([jobTitle, nameDescription], {
         x: 0, y: '50vh',
      }, {
         x: 0, y: 0,
         stagger: 0.33,
      })
      .fromTo(socialItem, {
         opacity: 0,
      }, {
         ease: 'sine',
         opacity: 1,
         stagger: 0.33,
      })
      .to(divider, {
         '--myScale': 1,
         ease: 'bounce.out',
         duration: 4,
      })
</script>