---
import { Avatar, AvatarImage, AvatarFallback } from '@/components/starwind/avatar';
import ProfilePicture from '../assets/images/profile-picture.jpg';
import Socials from '@/components/Socials.astro';
---

<section class='sidebar-layout homepage max-w-6xl p-0'>
    <div class='card md:h-full lg:card-side'>
        <Avatar size='custom'>
            <AvatarImage
                image={ProfilePicture}
                alt='Zoran G. Verona'
            />
            <AvatarFallback>ZGV</AvatarFallback>
        </Avatar>

        <div class='card-body flex items-center p-4 py-10 lg:p-6 gap-16 lg:gap-16'>
            <h5 class='intro text-xl mt-10 lg:mt-0 md:text-3xl self-start'>Hello, I'm</h5>

            <h1 class='name text-4xl md:text-7xl'>Zoran G. Verona</h1>

            <h2 class='job-title divider divider-secondary m-0 text-secondary'>Frontend Developer</h2>

            <h5 class='description md:text-center'>
                Based in Croatia, Europe, with 4+ years of web development experience.<span class='block'>
            I am a frontend web developer who enjoys building websites and web applications that are both fun and functional.</span>
            </h5>

            <Socials />
        </div>
    </div>
</section>

<style>
    .homepage {
        overflow: hidden;

        figure {
            border-radius: 12px;

            /* Mobile */
            @media (max-width: 1023px) {
                margin: 0 auto;
            }
        }

        .name {
            letter-spacing: 0.2rem;
            word-spacing: 0.3rem;
        }
    }

    .divider {
        --myScale: 0;

        &::before, &::after {
            height: 1px;
            transform: scale(var(--myScale));
        }
    }
</style>

<script>
   import { gsap } from 'gsap';

   const intro = document.querySelector('.intro');
   const jobTitle = document.querySelector('.job-title');
   const description = document.querySelector('.description');
   const socials = document.querySelector('.socials');
   const divider = document.querySelectorAll('.divider');

   const timeline = gsap.timeline({
      defaults: {
         duration: 2,
         ease: 'power3.inOut'
      }
   });
   /*
   timeline
      .fromTo(intro, {
         x: '100vw', y: 0,
      }, {
         x: 0, y: 0,
      })
      .fromTo(jobTitle, {
         x: 0, y: '-100vh',
      }, {
         x: 0, y: 0,
         ease: 'power4.inOut'
      })
      .fromTo([description, socials], {
         x: 0, y: '50vh',
      }, {
         x: 0, y: 0,
      })
      .to(divider, {
         '--myScale': 1,
         ease: 'bounce.out',
         duration: 10,
      })
   */
</script>