---
import NavigationItem from '@/components/NavigationItem.astro';
---

<header class='bg-base-200'>
    <nav class='flex justify-center'>
        <ul class='menu flex-row'>
            <NavigationItem
                href='/'
                label='Home'
            />

            <NavigationItem
                href='/tech'
                label='Tech'
                icon='hugeicons:tools'
            />

            <NavigationItem
                href='/projects'
                label='Projects'
                icon='hugeicons:workflow-square-06'
            />
        </ul>
    </nav>
</header>

<style>
    /* Desktop */
    @media (min-width: 1024px) {
        header {
            //background-color: #3f3d3d;
            //border-right: 1px solid var(--color-pink-400);
            height: 100%;
            position: fixed;
            width: 175px;
        }
    }

    /* Tablet and Mobile */
    @media (max-width: 1023px) {
        header {
            padding: 40px;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            li {
                letter-spacing: 0.5em;
                margin: 0 3em;
            }
        }
    }

    /* Mobile */
    @media (max-width: 640px) {
        header {
            padding: 40px 10px;

            li {
                margin: 0 1rem;
            }
        }
    }
</style>