---
const currentPath = Astro.url.pathname;
import Logo from '@/components/Logo.astro';
const isActive = path => currentPath === path ? 'active' : '';
---

<header>
    <nav>
        <ul>
            <li>
                <a
                    href='/'
                    class={isActive('/')}
                    aria-label='Home'
                >
                    <Logo />
                </a>
            </li>
            <li>
                <a
                    href='/tech'
                    class={isActive('/tech')}
                    aria-label='Tech'
                >
                    <span>
                        Tech
                    </span>
                </a>
            </li>
            <li>
                <a
                    href='/projects'
                    class={isActive('/projects')}
                    aria-label='Projects'
                >
                    <span>
                        Projects
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    /* Desktop */
    @media (min-width: 1024px) {
        header {
            position: fixed;
            width: 125px;
        }

        nav {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        li:not(:first-child) {
            margin: 50px 0;
            letter-spacing: 0.5em;
            text-orientation: upright;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
        }
    }

    /* Tablet and Mobile */
    @media (max-width: 1023px) {
        header {
            padding: 40px;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            li {
                letter-spacing: 0.5em;
                margin: 0 3em;
            }
        }
    }

    /* Mobile */
    @media (max-width: 640px) {
        header {
            padding: 40px 10px;

            li {
                margin: 0 1rem;
            }
        }
    }
</style>