---
import NavigationItem from '@/components/NavigationItem.astro';
---

<header>
    <nav>
        <ul class='dock max-w-6xl mx-auto'>
            <NavigationItem
                href='/'
                label='Home'
            />

            <NavigationItem
                href='/tech'
                label='Tech'
                icon='hugeicons:tools'
            />
            <NavigationItem
                href='/projects'
                label='Projects'
                icon='hugeicons:workflow-square-06'
            />
        </ul>
    </nav>
</header>

<style>
    ul.dock {
        //background-color: transparent;
        height: 100px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        /* Desktop */
        @media (min-width: 1024px) {
            top: calc(0.25rem * 0);
        }

        /* Mobile */
        @media (max-width: 1023px) {}
    }
</style>