---
import NavigationItem from '@/components/NavigationItem.astro';
---

<header class='min-h-[125px] lg:min-h-[100px]'>
    <nav class='min-h-[125px] lg:min-h-[100px] hover:cursor-crosshair'>
        <ul class='dock max-w-6xl mx-auto min-h-[125px] lg:min-h-[100px] justify-center items-center content-center border-none'>
            <NavigationItem
                href='/'
                label='Home'
            />

            <NavigationItem
                href='/tech'
                label='Tech'
                icon='hugeicons:tools'
            />

            <NavigationItem
                href='/projects'
                label='Projects'
                icon='hugeicons:workflow-square-06'
            />
        </ul>
    </nav>
</header>

<style is:inline>
    header,
    ul.dock {
        /* Desktop */
        @media (min-width: 1024px) {
            top: 25px;
            //top: calc(0.25rem * 0);
            background-color: transparent;
        }

        /* Mobile */
        @media (max-width: 1023px) {
            position: fixed;
            right: calc(0.25rem * 0);
            bottom: calc(0.25rem * 0);
            left: calc(0.25rem * 0);
        }
    }

    nav:hover ul li a span {
        display: block;
    }
</style>