---
const currentPath = Astro.url.pathname;
import Logo from '@/components/Logo.astro';
const isActive = path => currentPath === path ? 'active' : '';
---

<header>
    <nav>
        <ul>
            <li class='logo-container'>
                <a
                    href='/'
                    class={isActive('/')}
                    aria-label='Home'
                >
                    <Logo />
                </a>
            </li>
            <li>
                <a
                    href='/tech'
                    class={isActive('/tech')}
                    aria-label='Tech'
                >
                    <span>
                        Tech
                    </span>
                </a>
            </li>
            <li>
                <a
                    href='/projects'
                    class={isActive('/projects')}
                    aria-label='Projects'
                >
                    <span>
                        Projects
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .active {
        color: var(--color-pink-400);
    }

    /* Desktop */
    @media (min-width: 765px) {
        header {
            color: var(--color-zinc-50);
            //font-weight: 200;
            height: 100vh;
            left: 0;
            position: fixed;
            top: 0;
            width: 100px;
        }

        nav {
            display: flex;
            justify-content: center;
        }

        .logo-container {
            margin: 30px 0;
            position: relative;
            right: 3px;
            top: 0;
        }

        li:not(:first-child) {
            margin: 40px 0;
            letter-spacing: 0.35em;
            text-orientation: upright;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
        }

        a {
            text-transform: uppercase;

            /*
            &:hover {
                color: var(--color-pink-300);
            }
            */
        }
    }

    /* Mobile */
    @media (max-width: 764px) {
        header {
            display: none;
        }
    }
</style>