---
import { Image } from 'astro:assets';
import { Dialog, DialogTrigger, DialogContent, DialogHeader, DialogFooter, DialogTitle, DialogDescription, DialogClose } from '@/components/starwind/dialog';
import { Button } from '@/components/starwind/button';

const {
   thumbnail,
   title,
   description,
   url,
   tech,
   image
} = Astro.props;

---

<div class='projects-item'>
    <Dialog>
        <DialogTrigger asChild>
            <Image src={thumbnail} alt="A bird." width="250" height="250" />
        </DialogTrigger>
        <DialogContent style={{ width: '800px', maxWidth: 'none' }}>
            <DialogHeader>
                <!--<Image src={image} alt="A bird." width="250" height="250" />-->
                <DialogTitle>{ title }</DialogTitle>
                <DialogDescription class='my-4'>Technologies: { tech }</DialogDescription>
                <DialogDescription class='my-4'>{ description }</DialogDescription>
            </DialogHeader>

            <DialogClose asChild>
                <Button
                    href={url}
                    target='_blank'
                    rel='noopener noreferrer'
                    aria-label={`${title} website`}
                    class='my-4'
                >
                    View Project
                </Button>
            </DialogClose>
        </DialogContent>
    </Dialog>
</div>

<style>
    .projects-item {
    }
</style>