---
import { Icon } from 'astro-icon/components';
---

<div class='socials lg:self-center flex flex-wrap gap-8 md:gap-24 justify-center w-full lg:w-3/4 mt-8'>
    <div class='social-item'>
        <a
            href='https://github.com/verona-dev'
            target='_blank'
            rel='noopener noreferrer'
            aria-label='Github profile'
            class='btn'
        >
            <Icon
                name='hugeicons:github'
                class='w-6 h-6'
            />

            <span class='ml-1'>Github</span>
        </a>
    </div>

    <div class='social-item'>
        <a
            href='https://linkedin.com/in/zoran-g-verona-489650328'
            target='_blank'
            rel='noopener noreferrer'
            aria-label='Linkedin profile'
            class='btn'
        >
            <Icon
                name='hugeicons:linkedin-01'
                class='w-6 h-6'
            />
            <span class='ml-1'>Linkedin</span>
        </a>
    </div>

    <div class='social-item'>
        <a
            id='email'
            target='_blank'
            rel='noopener noreferrer'
            aria-label='Send email'
            class='btn'
        >
            <Icon
                name='hugeicons:mail-01'
                class='w-6 h-6'
            />
            <span class='ml-1'>Email</span>
        </a>
    </div>
</div>

<style>
    .socials {
        a {
            --btn-bg: #0000;
            transition: all .15s ease-in-out;
            border-style: dashed;
            --btn-border: var(--color-zinc-700);

            &:hover {
                --btn-border: var(--secondary-hover);
                transform: scale(1.15);
            }
        }

        .btn {
            font-size: 1.2rem;
            font-weight: 400;
            padding: 25px 15px;
        }
    }
</style>

<script>
   const encEmail = 'dmVyb25hZGV2QHR1dGEuaW8=';
   const mail = document.getElementById('email');
   mail?.setAttribute('href', 'mailto:'.concat(atob(encEmail)));
</script>