---
import { Icon } from 'astro-icon/components';
---

<div class='socials lg:pl-[100px]'>
    <div class='container max-w-2xl mx-auto'>
        <div class='social-item'>
            <a
                href='https://github.com/verona-dev'
                target='_blank'
                rel='noopener noreferrer'
                aria-label='Github profile'
            >
                <Icon
                    name='arcticons:github'
                    class='w-10 h-10'
                />
            </a>
        </div>

        <div class='social-item'>
            <a
                href='https://linkedin.com/in/zoran-g-verona-489650328'
                target='_blank'
                rel='noopener noreferrer'
                aria-label='Linkedin profile'
            >
                <Icon
                    name='arcticons:linkedin'
                    class='w-10 h-10'
                />
            </a>
        </div>

        <div class='social-item'>
            <a
                href='mailto:veronadev@tuta.io'
                target='_blank'
                rel='noopener noreferrer'
                aria-label='Personal email'
            >
                <Icon
                    name='arcticons:yahoo-mail'
                    class='w-10 h-10'
                />
            </a>
        </div>
    </div>
</div>

<style>
    .socials {
        .container {
            display: flex;
            justify-content: space-evenly;
            padding: 75px;

            a:hover {
                color: var(--color-pink-400);
            }
        }
    }
</style>

<script>
   import { gsap } from 'gsap';
   const items = document.querySelectorAll('.social-item');
   const timeline = gsap.timeline({ defaults: {
         duration: 2,
         ease: 'expo',
      }
   });

   timeline
      .fromTo(items, {
         opacity: 0,
      }, {
         opacity: 1,
         stagger: 0.33,
      })
   ;
</script>