---
import { Icon } from 'astro-icon/components';
---

<div class='socials'>
    <a href='https://github.com/verona-dev' target='_blank'>
        <Icon
            name='logos:github-icon'
            class='w-12 h-12'
        />
    </a>

</div>

<style>
    .socials {
        display: flex;
        justify-content: center;
    }
    svg {
        background-color: var(--color-green-200) !important;
        border-radius: 8px;
        padding: 6px;
    }
</style>