---
import {Icon} from 'astro-icon/components';
import { Tooltip, TooltipTrigger, TooltipContent } from '@/components/starwind/tooltip';
const {
   name,
   icon,
   description,
   url,
} = Astro.props;
---


<div class='tech-item mx-7 my-6'>
    <Tooltip>
        <TooltipTrigger>
            <div class='tech-icon opacity-0'>
                <Icon
                    name={icon}
                    class='w-12 h-12 mx-8'
                />

                <p class='name mt-5'>{ name }</p>
            </div>
        </TooltipTrigger>

        <TooltipContent>
            <div class='card p-8 lg:p-6 bg-base-100 shadow-2xl'>

                <div class='card-body w-2xs lg:w-[550px] lg:flex-row'>
                    <div class='icon-info-container w-[65px] lg:h-[75px]'>
                        <Icon
                            name='hugeicons:information-circle'
                            class='w-8 h-8'
                        />
                    </div>

                    <span class='lg:text-left'>{description}</span>
                </div>

                <div class='card-actions mt-6 lg:my-2 justify-center'>
                    <a
                        href={url}
                        target='_blank'
                        rel='noopener noreferrer'
                        aria-label='Link to description'
                        class='btn btn-soft align-center'
                    >
                        <span class='learn-more'>Learn more</span>
                    </a>
                </div>
            </div>
        </TooltipContent>
    </Tooltip>
</div>

<style>
    .tech-item {
        align-items: center;
        display: flex;
        flex-direction: column;

        &:hover {
            cursor: help;
        }

        .tech-icon {
            border-radius: 16px;
            color: var(--color-zinc-300);
            filter: grayscale(0.8) brightness(0.9);
            padding: 10px;
            transition: transform .25s ease-in-out;

            &:hover {
                color: var(--color-zinc-50);
                filter: none;
                transform: scale(1.1);
            }

            &:hover p.name {
             color: var(--color-snowy-mint);
            }
        }

        .starwind-tooltip {
            /*  Tooltip content */
            .starwind-tooltip-content {
                display: none;
                //display: flex;
                //--tooltip-offset: calc(100% + 15px) !important;
                white-space: normal;

                &:hover {
                    cursor: auto;
                }

                .card {
                    background-color: var(--card);
                    border-top: 10px solid var(--custom-color-salmon);
                }

                .card-body {
                    align-items: center;
                    display: flex;
                    flex: initial;
                    gap: 1rem;
                    padding: 0;

                    .icon-info-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                span {
                    font-size: 16px;
                    letter-spacing: 0.05em;
                }

                span.learn-more {
                    font-size: 0.875rem;
                    font-weight: 100;
                    line-height: calc(1.25 / 0.875);
                }
            }
        }
    }
</style>