---
import {Icon} from 'astro-icon/components';
import { Tooltip, TooltipTrigger, TooltipContent } from '@/components/starwind/tooltip';
const {
   name,
   icon,
   description,
   url,
} = Astro.props;
---


<div class='tech-item'>
    <Tooltip>
        <TooltipTrigger>
            <div class='tech-icon opacity-0'>
                <Icon
                    name={icon}
                    class='w-12 h-12'
                />

                <p>{ name }</p>
            </div>
        </TooltipTrigger>

        <TooltipContent>
           <div class='flex items-center'>
               <p set:html={description}></p>

               <a
                   href={url}
                   target='_blank'
                   rel='noopener noreferrer'
                   aria-label='Link to description'
               >
                   <Icon
                       name='iconoir:open-new-window'
                       class=' w-6 h-6'
                   />
               </a>
           </div>
        </TooltipContent>
    </Tooltip>
</div>

<style>
    .tech-item {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20px;
        
        &:hover {
            cursor: pointer;
        }

        a {
            display: inline-block;
        }

        svg {
            margin: 0 25px;
        }

        p {
            margin: 5px 0;
        }

        .starwind-tooltip-content {
            background-color: var(--color-zinc-900);
            font-size: 14px;
            padding: 20px 0 20px 30px;
            --tooltip-offset: calc(100% + 20px) !important;
            white-space: normal;
            width: 600px;

            &:hover {
                cursor: auto;
            }

            @media (max-width: 1200px) {
                width: 500px;
            }

            /* Mobile */
            @media (max-width: 1100px) {
                display: none !important;
            }
        }

        a {
            &:hover {
                color: var(--color-pink-400);
            }
        }
    }
</style>