---
import {Icon} from 'astro-icon/components';
import { Tooltip, TooltipTrigger, TooltipContent } from '@/components/starwind/tooltip';
const {
   name,
   icon,
   description,
   url,
} = Astro.props;
---


<div class='tech-item'>
    <Tooltip>
        <TooltipTrigger>
            <div>
                <Icon
                    name={icon}
                    class='w-12 h-12'
                />

                <p>{ name }</p>
            </div>
        </TooltipTrigger>

        <TooltipContent>
           <div>
               <p>{description}</p>

               <a
                   href={url}
                   target='_blank'
                   rel='noopener noreferrer'
                   aria-label='Link to description'
               >
                   <Icon
                       name='iconoir:open-new-window'
                       class='open-link-in-tab w-6 h-6'
                   />
               </a>
           </div>
        </TooltipContent>
    </Tooltip>
</div>

<style>
    .tech-item {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20px;
        
        &:hover {
            cursor: pointer;
        }

        a {
            display: inline-block;
        }

        svg {
            margin: 0 25px;
        }

        p {
            margin: 5px 0;
        }

        .starwind-tooltip-content {
            background-color: var(--color-zinc-900);
            border-radius: 8px;
            padding: 35px;
            white-space: normal;
            width: 500px;

            &:hover {
                cursor: auto;
            }
        }

        .open-link-in-tab {
            position: relative;
            top: 10px;

            &:hover {
                color: var(--color-pink-400);
            }
        }
    }
</style>