---
import {Icon} from 'astro-icon/components';
import { Tooltip, TooltipTrigger, TooltipContent } from '@/components/starwind/tooltip';
const {
   name,
   icon,
   description,
   url,
} = Astro.props;
---


<div class='tech-item mx-7 lg:mx-5 my-10'>
    <Tooltip openDelay={400}>
        <TooltipTrigger>
            <div class='tech-icon opacity-0'>
                <Icon
                    name={icon}
                    class='w-12 h-12 mx-8 trigger-icon'
                />

                <p class='my-5'>{ name }</p>
            </div>
        </TooltipTrigger>

        <TooltipContent side='bottom'>

            <div class='card p-8 lg:p-6 bg-base-100 shadow-2xl'>

                <div class='card-body w-2xs lg:w-[550px] lg:flex-row'>
                    <div class='icon-info-container w-[65px] lg:h-[75px]'>
                        <Icon
                            name='hugeicons:information-circle'
                            class='w-8 h-8'
                        />
                    </div>

                    <span class='lg:text-left lg:basis-full'>{description}</span>
                </div>

                <div class='card-actions mt-6 lg:my-2 justify-center'>
                    <a
                        href={url}
                        target='_blank'
                        rel='noopener noreferrer'
                        aria-label='Link to description'
                        class='btn btn-soft align-center'
                    >
                        <span>Learn more</span>
                    </a>
                </div>
            </div>
        </TooltipContent>
    </Tooltip>
</div>

<style>
    .tech-item {
        align-items: center;
        display: flex;
        flex-direction: column;

        &:hover {
            cursor: pointer;
        }

        svg.trigger-icon,
        p {
            filter: grayscale(1) brightness(0.9);
        }

        &:hover svg.trigger-icon,
        &:hover p {
            filter: none;
        }

        /*  Tooltip content */
        .starwind-tooltip-content {
            display: none;
            //display: flex;
            --tooltip-offset: calc(100% - 15px) !important;
            white-space: normal;

            &:hover {
                cursor: auto;
            }

            .card {
                background-color: var(--card);
                border-top: 10px solid var(--custom-color-salmon);
            }

            .card-body {
                align-items: center;
                display: flex;
                flex: initial;
                gap: 1rem;
                padding: 0;

                .icon-info-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
</style>