---
import {Icon} from 'astro-icon/components';
import { Tooltip, TooltipTrigger, TooltipContent } from '@/components/starwind/tooltip';
const {
   name,
   icon,
   description,
   url,
} = Astro.props;
---


<div class='tech-item'>
    <Tooltip>
        <TooltipTrigger>
            <div class='tech-icon opacity-0'>
                <Icon
                    name={icon}
                    class='w-12 h-12'
                />

                <p class='tech-name'>{ name }</p>
            </div>
        </TooltipTrigger>

        <TooltipContent>
               <a
                   href={url}
                   target='_blank'
                   rel='noopener noreferrer'
                   aria-label='Link to description'
                   class='inline'
               >
                   <span class='text-accent underline'>{name}</span>
               </a>

               <span set:html={description.replace(name, '')}></span>
        </TooltipContent>
    </Tooltip>
</div>

<style>
    .tech-item {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20px;
        
        &:hover {
            cursor: pointer;
        }

        a {
            &:hover {
                color: var(--color-pink-400);
            }
        }

        svg {
            margin: 0 25px;
        }

        p {
            margin: 5px 0;
        }

        .starwind-tooltip-content {
            padding: 35px;
            width: 600px;

            @media (max-width: 1200px) {
                width: 500px;
            }
        }
    }
</style>