---
import {Icon} from 'astro-icon/components';
import { Tooltip, TooltipTrigger, TooltipContent } from '@/components/starwind/tooltip';
const {
   name,
   icon,
   description,
   url,
} = Astro.props;
---


<div class='tech-item mx-7 lg:mx-5 my-10'>
    <Tooltip>
        <TooltipTrigger>
            <div class='tech-icon opacity-0'>
                <Icon
                    name={icon}
                    class='w-12 h-12 mx-8'
                />

                <p class='my-5'>{ name }</p>
            </div>
        </TooltipTrigger>

        <TooltipContent side='bottom'>
            <a
                href={url}
                target='_blank'
                rel='noopener noreferrer'
                aria-label='Link to description'
                class='inline'
            >
                <span class='text-accent underline'>{name}</span>
            </a>

            <span set:html={description.replace(name, '')}></span>

        </TooltipContent>
    </Tooltip>
</div>

<style>
    .tech-item {
        align-items: center;
        display: flex;
        flex-direction: column;

        &:hover {
            cursor: pointer;
        }

        /*  Tooltip content */
        .starwind-tooltip-content {
            background-color: var(--color-zinc-900);
            display: none;
            font-size: 14px;
            padding: 40px;
            --tooltip-offset: calc(100% - 10px) !important;
            white-space: normal;
            width: 400px;

            &:hover {
                cursor: auto;
            }

            /* Tablet/Mobile */
            @media (max-width: 900px) {
                padding: 40px 20px;
                width: 70vw;
            }
        }
    }
</style>