---
import {Icon} from 'astro-icon/components';
import { Tooltip, TooltipTrigger, TooltipContent } from '@/components/starwind/tooltip';
const {
   name,
   icon,
   description,
   url,
} = Astro.props;
---


<div class='tech-item mx-7 lg:mx-5 my-10'>
    <Tooltip openDelay={400}>
        <TooltipTrigger>
            <div class='tech-icon opacity-0'>
                <Icon
                    name={icon}
                    class='w-12 h-12 mx-8'
                />

                <p class='my-5'>{ name }</p>
            </div>
        </TooltipTrigger>

        <TooltipContent side='bottom'>

            <div class='card p-10 bg-base-100 shadow-lg'>

                <div class='card-body'>
                    <div>
                        <Icon
                            name='arcticons:devinfo'
                            class='w-28 h-28'
                        />
                    </div>

                    <span class='text-left'>{description}</span>
                </div>

                <div class='card-actions mt-6'>
                    <a
                        href={url}
                        target='_blank'
                        rel='noopener noreferrer'
                        aria-label='Link to description'
                        class='btn btn-soft w-full'
                    >
                        <span>Learn more</span>
                    </a>
                </div>
            </div>
        </TooltipContent>
    </Tooltip>
</div>

<style>
    .tech-item {
        align-items: center;
        display: flex;
        flex-direction: column;

        &:hover {
            cursor: pointer;
        }

        &:hover svg,
        &:hover p {
            opacity: 0.8;
        }

        /*  Tooltip content */
        .starwind-tooltip-content {
            display: none;
            //display: flex;
            //padding: 1px;
            --tooltip-offset: calc(100% - 15px) !important;
            white-space: normal;

            &:hover {
                cursor: auto;
            }

            .card {
                background-color: var(--card);

                //border-top: 1px solid var(--color-zinc-50);
                //border-right: 1px solid var(--color-zinc-50);
                //border-bottom: 2px solid var(--color-zinc-50);
                //border-left: 1px solid var(--color-zinc-50);
                //height: 250px;
                width: 500px;

                display: flex;
                justify-content: center;
            }

            .card-body {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0;
                flex: initial;
                gap: 1rem;
            }

            /* Tablet/Mobile */
            @media (max-width: 900px) {
            }
        }
    }
</style>