---
import { SEO } from 'astro-seo';
import CommonMeta from '../components/CommonMeta.astro';

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const {
   title,
   description,
} = Astro.props;

const pageTitle = `Zoran G Verona - Frontend Developer | ${title}`
---

<!doctype html>
<html lang="en">
	<head>
		<CommonMeta />

        <!--<title>Zoran G Verona | Portfolio</title>-->

        <SEO
            title={pageTitle}
            description={description}
            canonical={canonicalURL}
            meta={[
               {
                  name: 'keywords',
                  content: 'portfolio, website, web development, frontend,',
               },
            ]}
            extend={{
               meta: [
                  { name: 'keywords', content: 'zoran g verona, portfolio, website' },
               ],
               link: [
                  { rel: 'canonical', href: canonicalURL },
               ],
            }}
            openGraph={{
               basic: {
                  url: canonicalURL,
                  type: 'website',
                  title: pageTitle,
                  image: '',
               },
               image: {
                  alt: '',
               },
            }}
            twitter={{
               card: 'summary_large_image',
               title: pageTitle,
               description: description,
               image: '',
            }}
        />

	</head>

	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
