---
import '@/styles/global.css';

import CommonMeta from '../components/CommonMeta.astro';
import Navigation from '../components/Navigation.astro';
import NavigationDock from '../components/NavigationDock.astro';
import Seo from '../components/Seo.astro';

let {
   title,
   description,
} = Astro.props;

title = `Zoran G Verona - Frontend Developer | ${title}`
---

<!doctype html>
<html lang='en' class='dark'>
   <head>
       <CommonMeta />

       <Seo
           title={title}
           description={description}
       />
   </head>

   <body>
      <Navigation />

      <main id='main' class='max-w-7xl'>
          <slot />
      </main>
   </body>
</html>

<script>
    import { gsap } from 'gsap';

    const main = document.getElementById('main');
    const timeline = gsap.timeline({
       defaults: {
          duration: 1,
          ease: 'power3.inOut'
       }
    });

    timeline
       .fromTo(main, {
          opacity: 0,
       }, {
          opacity: 1,
       })
</script>