---
import '@/styles/starwind.css';
import '@fontsource/roboto-mono';
import '@/styles/global.css';

import CommonMeta from '../components/CommonMeta.astro';
import Navigation from '../components/Navigation.astro';
import MainAnimation from '../components/gsap/MainAnimation.astro';
import Seo from '../components/Seo.astro';
import Socials from '../components/Socials.astro';

let {
   title,
   description,
   mainAnimation = false,
} = Astro.props;

title = `Zoran G Verona - Frontend Developer | ${title}`
---

<!doctype html>
<html lang='en' class='dark'>
   <head>
       <CommonMeta />

       <Seo
           title={title}
           description={description}
       />

      { mainAnimation && <MainAnimation /> }
   </head>

   <body>
      <Navigation />

      <main>
          <slot />
      </main>

      <Socials />
   </body>
</html>