---
import "@/styles/global.css";
import "@/styles/starwind.css";

import CommonMeta from '../components/CommonMeta.astro';
import Navigation from '../components/Navigation.astro';
import Seo from '../components/Seo.astro';
import Socials from '../components/Socials.astro';

let {
   title,
   description,
} = Astro.props;

title = `Zoran G Verona - Frontend Developer | ${title}`
---

<!doctype html>
<html lang='en' class='dark'>
   <head>
       <CommonMeta />
       <Seo
           title={title}
           description={description}
       />
   </head>

   <body>
      <Navigation />

      <main class='mx-auto max-w-xl md:max-w-3xl relative'>
          <slot />
      </main>

      <Socials />
   </body>
</html>