---
import "@/styles/global.css";
import "@/styles/starwind.css";

import { SEO } from 'astro-seo';
import CommonMeta from '../components/CommonMeta.astro';
import Socials from '../components/Socials.astro';

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const {
   title,
   description,
} = Astro.props;

const pageTitle = `Zoran G Verona - Frontend Developer | ${title}`
---

<!doctype html>
<html lang='en' class='dark'>
   <head>
       <CommonMeta />

       <!--<title>Zoran G Verona | Portfolio</title>-->

       <SEO
           title={pageTitle}
           description={description}
           canonical={canonicalURL}
           meta={[
              {
                 name: 'keywords',
                 content: 'portfolio, website, web development, frontend,',
              },
           ]}
           extend={{
              meta: [
                 { name: 'keywords', content: 'zoran g verona, portfolio, website' },
              ],
              link: [
                 { rel: 'canonical', href: canonicalURL },
              ],
           }}
           openGraph={{
              basic: {
                 url: canonicalURL,
                 type: 'website',
                 title: pageTitle,
                 image: '',
              },
              image: {
                 alt: '',
              },
           }}
           twitter={{
              card: 'summary_large_image',
              title: pageTitle,
              description: description,
              image: '',
           }}
       />
       <title></title>

   </head>

   <body>
      <main class='mx-auto max-w-xl md:max-w-3xl relative'>
          <slot />
      </main>
          <Socials />
   </body>
</html>